/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/* === NAVBAR === */
.navbar {
  background-color:#F4F7FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 700;
}

nav ul li a.active {
  color: #ff6b4a;
}

.auth a {
  text-decoration: none;
  margin-left: 30px;
  font-weight: 600;
  color: #111;
}

.container {
    text-align: center;
    padding-top: 40px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 50px;
}

.signup-box {
    width: 380px;
    margin: 0 auto;
    background: #fff;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.07);
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 14px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    margin-bottom: 18px;
}

input:focus {
    outline: none;
    border-color: #6366f1;
}

.btn {
    width: 100%;
    padding: 14px;
    background: #4338ca;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
}

.btn:hover {
    background: #3730a3;
}

.bottom-text {
    margin-top: 30px;
    font-size: 15px;
    color: #444;
}

.bottom-text a {
    text-decoration: none;
    color: #4338ca;
    font-weight: 600;
}

























.footer {
    background: #1b2230;
    padding: 80px 0;
    color: #d1d5db;
    width: 100%;
}

.footer-container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

/* Left side */
.footer-left h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.footer-left p {
    margin: 20px 0;
    line-height: 1.6;
    color: #9aa3b2;
}

.footer-socials img {
    width: 28px;
    margin-right: 12px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.2s;
}

.footer-socials img:hover {
    opacity: 1;
}

/* Right columns */
.footer-columns {
    display: flex;
    gap: 80px;
}

.footer-col h4 {
    margin-bottom: 18px;
    color: white;
    font-size: 16px;
}

.footer-col a {
    display: block;
    color: #9aa3b2;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.footer-col a:hover {
    color: white;
}