* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  font-family: sans-serif;
}

/* === NAVBAR === */
.navbar {
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 700;
}

nav ul li a.active {
  color: #ff6b4a;
}
.auth a {
  text-decoration: none;
  margin-left: 30px;
  font-weight: 600;
  color: #111;
}



.support-text {
    color: #161C2D;
}

& p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #161C2D;
    opacity: 0.6;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 48px;
   color: #161C2D;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 60px auto;
    color: #475467;
    line-height: 1.6;
}

.text-block {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.7;
    font-size: 18px;
    color: #344054;
}

.text-block h2 {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 700;
    color: #101828;
}


.section {
    max-width: 900px;
    margin: 0 auto 60px auto;
    line-height: 1.7;
    font-size: 18px;
    color: #344054;
}

.section h3 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 25px;
    color: #101828;
}

.bullet-list {
    list-style: none;
    padding-left: 0;
}

.bullet-list li {
    position: relative;
    padding-left: 26px;
    margin-bottom: 28px;
    font-size: 18px;
    color: #344054;
    line-height: 1.7;
}

.bullet-list li::before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
}







.footer {
    background: #1b2230;
    padding: 80px 0;
    color: #d1d5db;
    width: 100%;
}

.footer-container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}


.footer-left h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.footer-left p {
    margin: 20px 0;
    line-height: 1.6;
    color: #9aa3b2;
}

.footer-socials img {
    width: 28px;
    margin-right: 12px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.2s;
}

.footer-socials img:hover {
    opacity: 1;
}

/* Right columns */
.footer-columns {
    display: flex;
    gap: 80px;
}

.footer-col h4 {
    margin-bottom: 18px;
    color: white;
    font-size: 16px;
}

.footer-col a {
    display: block;
    color: #9aa3b2;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.footer-col a:hover {
    color: white;
}